{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Scan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    
    <!-- NAVBAR -->
  <div class="header">
    <span class="logo">
        <img src="{% static 'img/logo.png' %}" class="navLogo" alt="lo" />
      <p>SurfShield</p>
    </span>

    <div class="link">
      <a href="#">Home </a>
      <a href="">About </a>
      <a href="">Download </a>
    </div>
  </div>

  <!-- HERO SECTION -->
  <div class="BG">
    <h1> SCAN THE <span class="rot">WEBSITES</span> THAT YOU ARE WORRIED ABOUT </h1>
    <form method="post">
      {% csrf_token %}
      <div class="space">
          <div class="SCANCOLO">
              <label for="url">URL:</label>
              <input type="text" id="url" name="url" placeholder="Enter or paste link here" />
              <button type="submit">SCAN IT</button>
          </div>
          <p>Try our demo to see the magic</p>
      </div>
    </form>
  </div>

</body>
</html>
